<div class="container-fluid">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <h1>Enter a new lift</h1>
                <form class= "w-50"(ngSubmit)="submitLift()" #liftForm="ngForm">      
                    <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" 
                        [(ngModel)]="liftTitle" 
                        class="form-control" 
                        id="title"
                        name="title"
                        required 
                        #value="ngModel">
                    </div>     
                    <button type="submit" [disabled]="!liftForm.form.valid" 
                        class="btn btn-info">Add</button>
                    </form>
            </div>
            <div class="col-sm">
                <h1>Enter your lift details</h1>  
                <form class="w-50" (ngSubmit)="submitLiftDetails()" #liftDetailsForm="ngForm">

                    <div class = "form-group">    
                        <label for=lift>Lift</label>
                    <select [(ngModel)]="userLift"
                            class="form-control" 
                            id="lift"
                            name="lift"
                            required           
                            #lift="ngModel">>
                        <option *ngFor="let l of listLifts" [ngValue]="l">{{l.title}}</option>
                    </select>
                    </div>
                
                <div class="form-group">
                    <label for="value">Weight (kg)</label>
                    <input type="number" 
                        [(ngModel)]="liftDetailsValue" 
                        class="form-control" 
                        id="value"
                        name="value"
                        required 
                        #value="ngModel">
                    <div *ngIf="value.invalid && (value.dirty || value.touched)" class="alert alert-danger"> How much weight? </div>
                </div>

                <div class="form-group">
                    <label for="reps"># of reps</label>
                    <input type="number" 
                        [(ngModel)]="liftDetailsReps" 
                        class="form-control" 
                        id="reps"
                        name="reps"
                        required 
                        #reps="ngModel">
                    <div *ngIf="reps.invalid && (reps.dirty || reps.touched)" class="alert alert-danger"> How many reps? </div>
                </div>
            
                <div class="form-group">
                    <mat-form-field id="date">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="liftDetailsDate"  id="date" name="date" #date>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <button type="submit" [disabled]="!liftDetailsForm.form.valid" 
                    class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>