<h1>Weights</h1>

<div class="form-group">
<div style="float:left;margin-right:20px;">
<label for="name">Search User</label>   
<input type="text" [(ngModel)]="name" placeholder="Search User">
<button class="btn btn-info" (click)="findByName()" style = "position:relative; left:10px;">Search</button>

</div>
</div>
<br>
<div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Date</th>
                <th scope="col">BMI</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of userweights">
                <td>{{user.name}}</td>
                <td>{{ u.value}}</td>
                <td>{{ u.date }}</td>
                <td>{{ u.bmi }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
<br>

<router-outlet></router-outlet>