<div class="container-fluid">
        <h1 style= "text-align: center">Welcome back {{user.name}}!</h1>
       
        <div class="card-body">
            <div class="table-responsive">
                <h2>Latest Lifts</h2>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Lift</th>                           
                            <th scope="col">Weight</th>
                            <th scope="col"># of reps</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let l of listLifts" >                            
                        <tr  *ngFor="let detail of l.liftDetails; first as isFirst">   
                            <td *ngIf="isFirst">{{ l.title }}</td>                                                                   
                            <td *ngIf="isFirst">{{ detail.value }}</td>                             
                            <td *ngIf="isFirst">{{ detail.reps }}</td>      
                            <td *ngIf="isFirst">{{ detail.date}} </td>     
                        </tr>                      
                        </ng-container>                     
                    </tbody>
                </table>
            </div>
    </div>  
</div>  
    
