<div class="container-fluid">
  <h1>Enter Your Weight</h1>

  <form (ngSubmit)="onSubmit()" #weightForm="ngForm">
    
    <div class="form-group">
      <label for="name">Weight</label>
      <input type="number" 
          [(ngModel)]="userweightValue" 
          class="form-control" 
          id="value"
          name="value"
          required 
          #value="ngModel">
      <div *ngIf="value.invalid && (value.dirty || value.touched)" class="alert alert-danger"> Weight is required </div>
    </div>

    <div class="form-group">
      <mat-form-field id="date">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="userDate"  id="date" name="date" #date>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>
    <button type="submit" [disabled]="!weightForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
</div>